<% /* Copyright 2009 Google Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS-IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License. */ %><% helpers.includeCss("pro/account.css") %>

<div class="fpcontent">
  <div class="account-container">

  <h3>Welcome to your own EtherPad server!</h3>

  <p>To get started, please create an administrator account.  This
  account will also be the primary admin contact for this
  system.</p>

  <%= errorDiv() %>

  <%#  renderAccountForm('create-admin-account', [
    {title: "Create Admin Account"},
    {text: "fullName", label: "Full Name:"},
    {text: "email", label: "Email:"},
    {password: "password", label: "Password:"},
    {password: "passwordConfirm", label: "Confirm Password:"},
    {submit: "Create Account"}
  ]) %>
  <%# Above form is converted to plain HTML %>

  <form id= "create-admin-account" method="post" action="<%= request.path %>">
    <div class="create-admin-account-form">
		<div class="forminner">
			<label for="fullname" id="fullname-label">Full Name</label>
			<input class="textin" type="text" name="fullName" id="fullName" />
		</div>
		<div class="forminner">
			<label for="email" id="email-label">Email</label>
			<input class="textin" type="text" name="email" id="email" />
	    </div>
		<div class="forminner">
			<label for="password" id="password-label">Password</label>
        	<input class="textin" type="password" name="password" id="password" />
      	</div>
      	<div class="forminner">
			<label for="passwordConfirmation" id="passwordConfirmation-label">Confirm Password</label>
        	<input class="textin" type="password" name="passwordConfirm" id="passwordConfirm"/>
      	</div>
    </div>
    <br/><br/>
    <div class="buttons-wrap">
      <input class="submit" type="submit" name="btn" value="Create Account" />
      <input class="submit" type="submit" name="cancel" value="Cancel" />
    </div>

  </form>

  </div>
</div>

